<!DOCTYPE html>
<html>
<head>
    <%- include('header.ejs') %>
    <link rel='stylesheet' href='/stylesheets/user_profile.css' />
</head>
<body>
        <%if (user) { %>             <%- include('navbar.ejs') %>         <% } else { %>             <%- include('navbar1.ejs') %>         <% } %>



<div class="container user_profile">
    <section class="open_book">

        <div class="row book_header">
            <div class="col col-span-6 text-left">
                <h3>Wirtualna Czytelnia</h3>
            </div>
            <div class="col col-span-6 text-right">
                <h3>Wirtualna Czytelnia</h3>
            </div>
        </div>

        <div class="row">
            <div class="col col-span-6 text-center">
                <%if (userData.picture !== null ) { %>
                    <img class="img-thumbnail" src="<%= '/uploads/'+ userData.picture %>" alt="Card image">
                    <br>
                    <br>
                    <button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#exampleModal">
                        <i class="fa fa-camera-retro"></i> Zmień zdjęcie
                    </button>
                <% } else {%>
                    <img class="img-thumbnail" src="/images/user.png" alt="Card image">
                    <br>
                    <br>
                    <button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#exampleModal">
                        <i class="fa fa-camera-retro"></i> Dodaj zdjęcie 
                    </button>
                <% }%>
                
            </div>
            <div class="col col-span-6 text-center">
                <div class="user"> <h1>Witaj,  <%= userData.username %></h1><hr><br><br>
               
                <i class="fa fa-credit-card"></i> TRIAL, zostało <strong> 14 </strong> dni. <br><br>
                <i class="fa fa-envelope"></i> <%= userData.email %></div>
                <br>
                <a href='/library' class="btn  btn-link"> -> Biblioteczka </a>
                <br>
                
            </div>
        </div>
        <div class="footer">
            <div class="row book_footer">
                <div class="col col-span-6 text-left">
                    <h6>1</h6>
                </div>
                <div class="col col-span-6 text-right">
                    <h6>2</h6>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Dodaj zdięcie</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <form id="addPict" >
                    <div class="form-group">
                        <label for="usernameInput">Zdięcie:</label>
                        <div class="input-group">
                            <input type="file" class="form-control-file" id="USERPhoto" name="image" enctype="multipart/form-data">
                        </div>
                        <div class="USERErr"  style="margin-top: 5px;" ></div>
                        </div>
                    <button id="AddEmpbut" type="submit" class="btn btn-primary">Dodaj</button>
                </form>
            </div>
          </div>
        </div>
      </div>

<%- include('footer.ejs') %>
</body>
</html>
